<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera-retro wow bounceIn text-primary"></i>
                    <h3>Documetary films</h3>
                    <p class="text-muted">We can do best of bread documentaries on any theme.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Software products</h3>
                    <p class="text-muted">We are able to make fantastic software on demand.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-battery-three-quarters wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Hardware design</h3>
                    <p class="text-muted">We are able to make prototypes of small electronic devices.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-medapps wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Mix of all the above</h3>
                    <p class="text-muted">We can deliver uniqe product of your design.</p>
                </div>
            </div>
        </div>
    </div>
</section>
